{% extends 'base/base.html' %}

{% block content %}

<div class="container py-5">

    <h1 class="fw-bold text-primary mb-5">
        👤 My Profile
    </h1>

    <div class="card shadow border-0 p-5">

        <h4 class="mb-4">
            Welcome, {{ user.username }}
        </h4>

        <p>
            <strong>Username:</strong>
            {{ user.username }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ user.email }}
        </p>

        <hr>

        <div class="row">

            <div class="col-md-3 mb-3">
                <div class="card stats-card shadow border-0 text-center p-4">
                    <h1>📢</h1>
                    <h6>Total Issues</h6>
                    <h2>{{ total_issues }}</h2>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card stats-card shadow border-0 text-center p-4">
                    <h1>🟡</h1>
                    <h6>Pending</h6>
                    <h2>{{ pending }}</h2>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card stats-card shadow border-0 text-center p-4">
                    <h1>🔵</h1>
                    <h6>In Progress</h6>
                    <h2>{{ in_progress }}</h2>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card stats-card shadow border-0 text-center p-4">
                    <h1>🟢</h1>
                    <h6>Resolved</h6>
                    <h2>{{ resolved }}</h2>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}