

.animate{

opacity:0;

transform:translateY(60px);

transition:all .9s ease;

}

.animate.show{

opacity:1;

transform:translateY(0);

}


.hero-content{

opacity:0;

transform:translateY(40px);

transition:all 1.2s ease;

}

.hero-content.show{

opacity:1;

transform:translateY(0);

}